version: "3.2"
services:
    sparepart_tsp:
        build:
            context: .
            dockerfile: ./dockerfile/php-apache2.dockerfile
            args:
                - php_version=8.2
                - app_name=sparepart_tsp
        networks:
            - route
        restart: always
        container_name: sparepart_tsp
        ports:
            - "8001:80"
        volumes:
            - ./app/sparepart_tsp:/var/www/html:Z
            - ./config/php8.2/php.ini:/etc/php/8.2/cli/php.ini:Z
            - ./config/apache2/sparepart_tsp.conf:/etc/apache2/sites-available/000-default.conf:Z
            - ./log/sparepart_tsp:/var/log/apache2:Z
    bengkel_gim:
        build:
            context: .
            dockerfile: ./dockerfile/php-apache2.dockerfile
            args:
                - php_version=8.0
                - app_name=bengkel_gim
        networks:
            - route
        restart: always
        container_name: bengkel_gim
        ports:
            - "8002:80"
        volumes:
            - ./app/bengkel_gim:/var/www/html:Z
            - ./config/php8.2/php.ini:/etc/php/8.2/cli/php.ini:Z
            - ./config/apache2/bengkel_gim.conf:/etc/apache2/sites-available/000-default.conf:Z
            - ./log/bengkel_gim:/var/log/apache2:Z
    route:
        build:
            context: .
            dockerfile: ./dockerfile/route.dockerfile
        depends_on:
            - sparepart_tsp
            - bengkel_gim
        networks:
            - route
        restart: always
        container_name: route
        ports:
            - "80:80"
        volumes:
            - ./log/route:/var/log/nginx:Z
            - ./config/route:/etc/nginx/conf.d:Z
        command:
            nginx -g 'daemon off;'
networks:
    route:
